<% @articles.each do |article| %>
<div class = "one_article">
  <div class = "title">
    <%= link_to article.title, user_article_news_path(@cate, article) %>
  </div>
  <div class = "article_image">
    <%= link_to image_tag(article.thumbnail, class: :image), user_article_news_path(@cate, article) %>
  </div>
  <div class = "content">
    <%= truncate(sanitize(article.content, tags: []), length: 250) %>
  </div>
</div>
<% end %>
<% content_for :bottom do %>
<script>
  $(function(){
    $("#tttt_tab").addClass("active");
  })
</script>
<% end %>
