@charset "utf-8";
@import "shared/mixins.css.less";
#news {
  margin-bottom: 40px;
  p {
    text-align: right;
    margin-top: -42px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 0;
  }
  #news-date {
    width: 25%;
  }
  #news-title {
    width: 75%;
  }
}

#shop-setting-inner {
  table {
    margin-top: 8px;
    tr {
      background: #fff;
    }
    th {
      width: 25%;
      background: #eee;
      text-align: left;
    }
  }
}
